.NewInvoiceForm {
  width: 40%;
}
/* 
.NewInvoiceForm button {

    background-color: blue;
    border-radius: 5px;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 5px;
    margin: 0px;
    font-weight: bold;
    font-size: 1em;
} */

.NewInvoiceForm fieldset input {
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px;
}
